##########################################################################
# filter will include or exclude certain transactions based on criterias
# matching is based on regular expressions (case insensitive)
# delete if not needed

# currently supported inclusion filters:

# filter.include.buchungstext=.*
# filter.include.verwendungszweck=.*
# filter.include.auftraggeber_oder_beguenstigter=.*
# filter.include.betrag_groesser_als=123.99

# currently supported exclusion filters:
# filter.exclude.buchungstext=.*this_will_be_excluded.*
# filter.exclude.buchungstext=.*this_will_be_excluded.*
# filter.exclude.verwendungszweck=.*this_will_be_excluded.*
# filter.exclude.auftraggeber_oder_beguenstigter=.*this_will_be_excluded.*
# filter.exclude.betrag_groesser_als=123.99

##########################################################################

# only include rows matching these criterias
# .* matches everything
filter.include.buchungstext=.*
filter.include.verwendungszweck=.*
filter.include.auftraggeber_oder_beguenstigter=.*
# a really high number will match everything
filter.include.betrag_groesser_als=999999

# include all except matching these criterias
filter.exclude.buchungstext=.*this_will_be_excluded.*
filter.exclude.buchungstext=.*this_will_also_be_excluded.*
filter.exclude.verwendungszweck=.*this_will_be_excluded.*
filter.exclude.auftraggeber_oder_beguenstigter=.*this_will_be_excluded.*
filter.exclude.betrag_groesser_als=999999999

##########################################################################
# group transactions
# matching is based on regular expressions (case insensitive)
# delete if not needed
#
# currently supported (with some examples):

#                      PATTERN||GROUP_NAME
# group.buchungstext=.*Gehalt.*||Gehalt
# group.verwendungszweck=.*Haushalt.*||Haushalt
# group.auftraggeber_oder_beguenstigter=.*BUDNI.*||Budni
# group.betrag_groesser_als=234.45
##########################################################################

# buchungstext
group.buchungstext=.*Gehalt.*||Gehalt
group.buchungstext=.*Wertpapiere.*||Sparen

# verwendungszweck
group.verwendungszweck=.*Haushalt.*||Haushalt

# auftraggeber_oder_beguenstigter
group.auftraggeber_oder_beguenstigter=.*BUDNI.*||Einkauf
group.auftraggeber_oder_beguenstigter=.*DENNS.*||Einkauf
group.auftraggeber_oder_beguenstigter=.*EDEKA.*||Einkauf
group.auftraggeber_oder_beguenstigter=.*E-SVEN BERGER.*||Einkauf
group.auftraggeber_oder_beguenstigter=.*Rewe.*||Einkauf
group.auftraggeber_oder_beguenstigter=.*AMAZON.*||Amazon
group.auftraggeber_oder_beguenstigter=.*PAYPAL.*||Paypal
group.auftraggeber_oder_beguenstigter=.*ING-DiBa AG.*||Sparen
group.auftraggeber_oder_beguenstigter=.*Berthold.*||Miete
group.auftraggeber_oder_beguenstigter=.*Wasserwerke.*||Miete
group.auftraggeber_oder_beguenstigter=.*E.VITA GMBH.*||Miete
group.auftraggeber_oder_beguenstigter=.*Familienkasse.*||Familienkasse
group.auftraggeber_oder_beguenstigter=.*AXA.*||AXA Versicherung
group.auftraggeber_oder_beguenstigter=.*LVM.*||LVM Versicherung
group.auftraggeber_oder_beguenstigter=.*CC CAMPUS CATERING.*||Essen Schule
group.auftraggeber_oder_beguenstigter=.*Vodafone.*||Vodafone
group.auftraggeber_oder_beguenstigter=.*GREENPEACE ENERGY.*||Strom
group.auftraggeber_oder_beguenstigter=.*Stoltenberg.*||Auto
group.auftraggeber_oder_beguenstigter=.*JET.*||Tanken
group.auftraggeber_oder_beguenstigter=.*TOTAL.*||Tanken
group.auftraggeber_oder_beguenstigter=.*ARAL.*||Tanken
group.auftraggeber_oder_beguenstigter=.*SHELL.*||Tanken
group.auftraggeber_oder_beguenstigter=.*||Andere